.OptionsList {
  background-color: white;
  border-style: solid;
  border-color: #85ebd4;
  border-top: 0px;
  border-radius: 10px;
  z-index: 99;
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 58vh;
  margin: 0;
  max-height: 25%;
  overflow: auto;

  li:hover{
    background-color: #00CDFF
    ;
    color: white;
  }
}

.taxes-page {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  // background-image: linear-gradient(to right top, #58e5c9, #0cd9e1, #09c9f0, #53b7f2, #82a2e6);
  .inext-logo {
    width: 160px;
    height: 80px;
    background-image: url("~@/assets/images/inext-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: auto;
  }

  .taxes-form-container {
    background: #fff;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 500px;
    margin-bottom: 20px;

    .taxes-form-wrapper {
      width: 350px;
      margin: auto;
    }

    .row-welcome-text {
      color: #4ec8e3;
      font-weight: bold;
      font-size: 22px;
      margin: 8px 0;
    }

    .row-or {
      text-transform: uppercase;
    }

    .row-bank-select {
      button {
        width: 100%;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 10px;
        border: 2px solid;
        border-color: rgb(92, 229, 198) !important;
        background: rgb(255, 255, 255) !important;
        color: #5ce5c6 !important;

        .vs-button--text {
          display: grid;
          grid-template-columns: 40px auto;
          align-items: center;

          span {
            text-transform: uppercase;
          }
        }

        .bank-icon {
          width: 25px;
          height: 25px;
          display: block;
          background-image: url("~@/assets/images/icons/bank-logo.svg");
        }
      }
    }

    .vs-row {
      width: 100%;
      margin: 10px auto;
      font-weight: bold;

      .or-text {
        text-transform: uppercase;
      }
    }

    .taxes-form {
      input {
        height: 45px;
      }

      .row-forgot-password {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 15px 0;

        label {
          color: #4ec8e2;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }

    .row-submit-btn {
      .vs-button {
        width: 100%;
        border-radius: 5px;
        background: #4ec8e2;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        padding: 3px;

        .vs-button--text {
          text-transform: uppercase;
        }
      }
    }
  }

  .footer-section {
    margin: 20px 0;

    .vs-row {
      font-size: 11px;
      text-align: center;

      &.taxes-section {
        font-size: 16px;
        margin: 5px;

        strong {
          font-size: 12px;

          span {
            color: #4ec8e2;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }
    }
  }
}